<ion-header>
  <ion-toolbar>
    <ion-title>
      Weersvoorpelling
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Naam stad</ion-label>
    <ion-input [(ngModel)]="cityName"></ion-input>
  </ion-item>
  <ion-button (click)="getWeather()">Weer</ion-button>

  <div *ngIf="weatherData">
    <h2>{{ weatherData.name }}</h2>
    <p>Temperatuur: {{ weatherData.main.temp }} &#8451;</p>
    <p>Weer: {{ weatherData.weather[0].description }}</p>
  </div>

  <div *ngIf="weatherForecast">
    <h3>Weersvoorspelling</h3>
    <ion-list>
      <ion-item *ngFor="let forecast of weatherForecast">
        <ion-label>
          {{ forecast.dt_txt }}
          <p>Temperatuur: {{ forecast.main.temp }} &#8451;</p>
          <p>Weer: {{ forecast.weather[0].description }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
